{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>{% block title %}home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style12.css' %}">
</head>

<body>
    {% block content %} salut {% endblock %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
  {% block sp %}  <script src="{% static 'js/script7.js' %}"></script>{% endblock %}
</body>

</html>