{% extends 'base.html' %}
{% block title %}nam'ser-contacts{% endblock %}
{% block content %}
    <div id="contacts">
        <nav class="navbar navbar-expand-md navbar-light white">
        <a href="" class="navbar-brand">
            <p><span class="c1">Nam's</span> <span class="c2"> er</span> </p>
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Accueil</a></li>
            <li class="nav-item">
                <a href="" class="nav-link">Services</a></li>
            <li class="nav-item">
                <a href="" class="nav-link">Matchs</a></li>
            <li class="nav-item active" >
                <a href="#" class="nav-link">Contacts</a></li>
        </ul>
        <div class="actions">
            <a href="{% url 'register' %}"><i class="fas fa-basketball-ball"></i> Inscription </a>
            <a href="{% url 'login' %}"><i class="fas fa-basketball-ball"></i> Connexion </a>
        </div>
    </nav>





    </div>
  <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h1><span class="c1">Nam's</span><span class="c2"> er</span></h1>
        <p>vivez votre passion du foot comme jamais</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Services</h6>
        <p>
          <a href="#!">Match en direct</a>
        </p>
        <p>
          <a href="#!">Résultats des matchs</a>
        </p>
        <p>
          <a href="#!">Avis et Côtes</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Liens Utiles</h6>
        <p>
          <a href="#!">Votre compte</a>
        </p>
        <p>
          <a href="#!">Devenir associé</a>
        </p>
        <p>
          <a href="#!">Aide</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contacts</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Abidjan, BP 101112, Côte d'Ivoire</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@namser.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 225 67 16 35 47</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2019 Copyright,
          <a href="#">
            <strong> Nam'ser.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
{% endblock %}